{% extends "main/base.html.twig" %}

{% block content %}
    {% for purchase in purchases %}
        <p>
            <a href="{{ path('cart_cancel',{'id':purchase.id}) }}">X</a>
            {{ purchase.title }}
            :
            {{ purchase.price }}
            &dollar;
        </p>
    {% endfor %}


    {{ form_start(cart_form) }}
    {{ form_label(cart_form) }}
    {{ form_errors(cart_form) }}
    <ul>
        {% for row in cart_form %}
            <li>
                {{ form_errors(row) }}
                {{ form_widget(row) }}
            </li>
        {% endfor %}
    </ul>
    <input type="submit" value="Checkout">
    {{ form_end(cart_form) }}

{% endblock %}