{% extends 'administration/base.html.twig' %}

{% block content %}
    <h2>{{ user.username }}'s products:</h2>
    <table border="1" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a href="{{ path('admin_users_products_delete',{'id':user.id,'product_id':product.id}) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('admin_users_products_create',{'id':user.id}) }}">Add a product!</a>
    </div>
{% endblock %}