<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('cart.gif.ico') }}" />
    </head>
    <body>
        <header>
            <nav class="site-nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="{{ path('homepage') }}">Main site</a></li>
                    <li class="nav-item"><a href="{{ path('categories_list') }}">Manage Categories</a></li>
                    <li class="nav-item"><a href="{{ path('admin_offers_list') }}">Manage Offers</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% for msg in app.session.flashBag.get('success') %}
                <div class="msg-success">{{ msg }}</div>
            {% endfor %}

            {% for msg in app.session.flashBag.get('error') %}
                <div class="msg-error">{{ msg }}</div>
            {% endfor %}


            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p class="footer-text">&copy; Shopping Cart - 2017</p>
        </footer>
    </body>
</html>
