<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Shopping cart{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/site-icon.ico') }}" />
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/shopping-cart.css') }}">
    {% endblock %}
</head>

<body class="admin-page">

<div class="brand">Administration Panel</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Admin Panel</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="{{ path('homepage') }}">Main site</a></li>
                <li class="nav-item"><a href="{{ path('categories_list') }}">Manage Categories</a></li>
                <li class="nav-item"><a href="{{ path('admin_offers_list') }}">Manage Offers</a></li>
                <li class="nav-item"><a href="{{ path('promotions_list') }}">Manage Promotions</a></li>
                {% if  is_granted('ROLE_ADMIN')  %}
                    <li class="nav-item"><a href="{{ path('admin_users_list') }}">Manage Users</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main>
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success text-center">{{ msg }}</div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger text-center">{{ msg }}</div>
    {% endfor %}
    <div class="container">

        {% block content %}
        {% endblock %}

    </div>
</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>&copy; Shopping cart-2017</p>
            </div>
        </div>
    </div>
</footer>

{% block scripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/shopping-cart.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>

</html>



