{% extends "main/base.html.twig" %}

{% block content %}

    <div class="row">

        <div class="box col-lg-3">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><strong>Categories</strong></h2>
                <hr>
            </div>
            <ul class="list-group col-lg-12">
                <li class="list-group-item {% if selected == 'all' %} selected-category {% endif %}">
                    <a href="{{ path('offers_list') }}" class="category-item ">All</a>
                </li>
              {% for category in categories %}
                      <li class="list-group-item {% if selected == category.name %} selected-category {% endif %}">
                          <a href="{{ path('offers_by_category',{'name':category.name}) }}" class="category-item">{{ category.name }}</a>
                      </li>
              {% endfor %}
            </ul>
        </div>

        <div class="box col-lg-8 col-lg-offset-1">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><strong>Offers</strong></h2>
                <h2 class="intro-text text-center">{{ selected }}</h2>
                <hr>
            </div>
            {% if pagination is empty %}
                <div class="col-lg-12">
                    <h3 class="text-center"><strong>No offers found</strong></h3>
                </div>
            {% else %}
                <div class="row">
                {% for offer in pagination %}
                    <div class="col-sm-4 text-center">
                        <div class="offer-item">
                            <a href="{{ path('offers_details',{'id':offer.id}) }}">
                                <img class="img-responsive" src="{{ asset('uploads/products/'~offer.product.image) }}" alt="product-img">
                            </a>
                            <h4>{{ offer.title }}</h4>
                            <p>
                                {% set offerPromo = calc.calculatePrice(offer) %}

                                {% if offerPromo != offer.price %}
                                    <del>{{ offer.price }}</del>
                                {% endif %}
                                {{ offerPromo | number_format(2) }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}