{% extends "main/base.html.twig" %}

{% block content %}
    <div class="box">
    <div class="col-lg-12">

        <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>My Products</strong>
                </h2>
                <hr>
        </div>
        <div class="my-products-btn">
            {% if is_granted('ROLE_EDITOR') %}
                <a href="{{ path('products_create') }}" class="btn btn-info">Add a product!</a>
            {% else %}
                <a href="{{ path('offers_list') }}" class="btn btn-info">Buy a product!</a>
            {% endif %}
        </div>
    {% for product in products %}
        <div class="my-product">
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="{{ asset('uploads/products/'~product.image) }}" alt="product-img">
            </div>
            <div class="col-md-6">
                <p>Name: {{ product.name }}</p>
                <p>Quantity: {{ product.quantity }}</p>
                <p>
                    <a href="{{ path('products_sell',{'id':product.id}) }}" class="btn btn-primary">Sell</a>
                    <a href="{{ path('products_delete',{'id':product.id}) }}" class="btn btn-primary">Remove</a>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endfor %}


    </div>
    </div>
{% endblock %}