{% extends 'administration/base.html.twig' %}

{% block content %}
    <table border="1" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.title }}</td>
                <td>{{ offer.price }}</td>
                <td>{{ offer.user.username }}</td>
                <td>{{ offer.category.name }}</td>
                <td><a href="{{ path('admin_offers_edit',{'id':offer.id}) }}">Edit</a> | <a href="{{ path('admin_offers_remove',{'id':offer.id}) }}">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}