{% extends 'administration/base.html.twig' %}

{% block content %}
    <div class="box">
        <div class="col-lg-12">

            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>{{ user.username }}'s products:</strong>
                </h2>
                <hr>
            </div>
            <div class="my-products-btn">
                <a href="{{ path('admin_users_products_create',{'id':user.id}) }}" class="btn btn-info">Add a product!</a>
            </div>
            {% for product in products %}
                <div class="my-product">
                    <div class="col-md-6">
                        <img class="img-responsive img-border-left" src="{{ asset('uploads/products/'~product.image) }}" alt="product-img">
                    </div>
                    <div class="col-md-6">
                        <p>Name: {{ product.name }}</p>
                        <p>Quantity: {{ product.quantity }}</p>
                        <p>
                            <a href="{{ path('admin_users_products_delete',{'id':user.id,'product_id':product.id}) }}" class="btn btn-primary">Remove</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}


        </div>
    </div>

{% endblock %}