{% extends 'main/base.html.twig' %}

{% block content %}

    <div class="box">
        <div class="row">
            <hr>
            <h2 class="intro-text text-center"><strong>Welcome to the site</strong></h2>
            <hr>
        </div>
        <div class="row">
            <hr>
            <h2 class="intro-text text-center">Featured offers</h2>
            <hr>
            {% if offers is empty %}
                <div class="col-lg-12">
                    <h3 class="text-center"><strong>No offers featured</strong></h3>
                </div>
            {% else %}
                <div class="col-lg-8 col-lg-offset-2">
                    {% for offer in offers %}
                        <div class="col-sm-3 text-center">
                            <div class="offer-item">
                                <a href="{{ path('offers_details',{'id':offer.id}) }}">
                                    <img class="img-responsive" src="{{ asset('uploads/products/'~offer.product.image) }}" alt="product-img">
                                </a>
                                <h4>{{ offer.title }}</h4>
                                <p>
                                    {% set offerPromo = calc.calculatePrice(offer) %}

                                    {% if offerPromo != offer.price %}
                                        <del>{{ offer.price }}</del>
                                    {% endif %}
                                    {{ offerPromo | number_format(2) }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}

